# /etc/systemd/system/iob-clean.timer

[Unit]
Description=Weekly IOB log cleanup

[Timer]
OnCalendar=Mon 09:05:00
Persistent=true
Unit=iob-clean.service

[Install]
WantedBy=timers.target
